html,
body
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #EBEBEB;
}

.center-box
{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.bg-gray{
	background: #4D4D59;
}

.bg-white{
	background-color: #fff;
	box-shadow: 0 10px 30px 0px #bbb;
	-webkit-box-shadow: 0 10px 30px 0px #bbb;
}


